*{
    margin: 0;
    padding: 0;
}
body{
    background-color: tomato;
}
.main-div{
    background-color: yellow;
    height: 500px;
    width: 400px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
}
.main-div h3{
    text-align: center;
    padding-top: 25px;
}
.main-div p{
    text-align: center;
    padding-top: 3px;
}

.sub-div{
    background-color: lightblue;
    height: 350px;
    width: 300px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px; 
}
.sub-div input {
    height: 45px;
    width: 200px;
    border-radius: 4px;
    margin-top: 100px;
    margin-left: 45px;
    border: none; 
}
.sub-div button{
    color: white;
    height: 25px;
    width: 75px;
    margin-left: 105px;
    background-color: rgb(245, 153, 153);
    border-radius: 2.5px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}